@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CMPH_BugTracker.Helpers;
@using CMPH_BugTracker.Models;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>CMPH_BugTracker</title>

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/lib/gritter/css/jquery.gritter.css" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <script src="~/lib/chart-master/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />


    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b><span></span></b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme"></span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green">

                            </div>
                            <li>
                                <p class="green"></p>

                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc"></div>
                                        <div class="percent"></div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc"></div>
                                        <div class="percent"></div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc"></div>
                                        <div class="percent">
                                            <div>
                                            </div>
                                            <div class="progress progress-striped">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc"></div>
                                        <div class="percent"></div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#"></a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme"></span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green"></p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="~/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                        <span class="from"></span>
                                        <span class="time"></span>
                                    </span>
                                    <span class="message">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="~/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                        <span class="from"></span>
                                        <span class="time"></span>
                                    </span>
                                    <span class="message">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="~/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                        <span class="from"></span>
                                        <span class="time"></span>
                                    </span>
                                    <span class="message">

                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="~/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                        <span class="from"></span>
                                        <span class="time"></span>
                                    </span>
                                    <span class="message">

                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#"></a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge bg-warning"></span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow"></p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>

                                    <span class="small italic"></span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                    <span class="small italic"></span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="small italic"></span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="label label-success"><i class="fa fa-plus"></i></span>
                                    <span class="small italic"></span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#"></a>
                            </li>
                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu" id="nav-accordion">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p class="centered"><a href="~/Uploads/"><img src="@UserHelper.GetProfileImagePath(User.Identity.GetUserId())" class="img-circle" width="80"></a></p>
                        <h5 class="centered">@User.Identity.Name</h5>
                    }
                    @*<li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-dashboard">
                                <span>Dashboard</span>
                            </i>
                        </a>
                    </li>*@
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-cogs">
                                <span>Account</span>
                            </i>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="sub">
                                <li>@Html.ActionLink("Log Out", "LogOff", "Account", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li><a class="nav-link js-scroll-trigger" href=@Url.Action("ProfileView", "Account")>Profile</a></li>
                                <li><a class="nav-link js-scroll-trigger" href=@Url.Action("EditProfile", "Account")>Edit Profile</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="sub">
                                <li>
                                    @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "nav-link js-scroll-trigger" })
                                </li>
                                <li>
                                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link js-scroll-trigger" })
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-desktop"></i>
                            <span>Projects</span>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="sub">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li> @Html.ActionLink("MyProjects", "MyProjects", "Projects", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                    <li>@Html.ActionLink("AllProjects", "Index", "Projects", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                    <li> @Html.ActionLink("Create", "Create", "Projects", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                }
                                @if (User.IsInRole("ProjectManager"))
                                {
                                    <li> @Html.ActionLink("MyProjects", "MyProjects", "Projects", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                    <li>@Html.ActionLink("AllProjects", "Index", "Projects", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                    <li> @Html.ActionLink("Create", "Create", "Projects", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                }
                                @if (User.IsInRole("Developer"))
                                {
                                    <li> @Html.ActionLink("MyProjects", "MyProjects", "Projects", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                    <li>@Html.ActionLink("AllProjects", "Index", "Projects", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                    <li> @Html.ActionLink("Create", "Create", "Projects", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                }
                                @if (User.IsInRole("Submitter"))
                                {
                                    <li> @Html.ActionLink("MyProjects", "MyProjects", "Projects", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                    <li>@Html.ActionLink("AllProjects", "Index", "Projects", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                    <li> @Html.ActionLink("Create", "Create", "Projects", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <ul class="sub">
                                <li>
                                    @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "nav-link js-scroll-trigger" })
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>Tickets</span>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <ul class="sub">
                            @if (User.IsInRole("Admin"))
                            {
                                <li> @Html.ActionLink("Create", "Create", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                <li>@Html.ActionLink("AllTickets", "Index", "Tickets", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li> @Html.ActionLink("MyTickets", "MyTickets", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                <li> @Html.ActionLink("TicketsICreated", "CreatedTickets", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                            }
                            @if (User.IsInRole("ProjectManager"))
                            {
                                <li> @Html.ActionLink("Create", "Create", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                <li>@Html.ActionLink("AllTickets", "Index", "Tickets", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li> @Html.ActionLink("MyTickets", "MyTickets", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                <li> @Html.ActionLink("TicketsICreated", "CreatedTickets", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                            }
                            @if (User.IsInRole("Developer"))
                            {
                                <li> @Html.ActionLink("Create", "Create", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                <li>@Html.ActionLink("AllTickets", "Index", "Tickets", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li> @Html.ActionLink("MyTickets", "MyTickets", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                <li> @Html.ActionLink("TicketsICreated", "CreatedTickets", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                            }
                            @if (User.IsInRole("Submitter"))
                            {
                                <li> @Html.ActionLink("Create", "Create", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                <li>@Html.ActionLink("AllTickets", "Index", "Tickets", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li> @Html.ActionLink("MyTickets", "MyTickets", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                                <li> @Html.ActionLink("TicketsICreated", "CreatedTickets", "Tickets", null, new { @class = "nav-link js-scroll-trigger" }) </li>
                            }
                        </ul>
                        }
                        else
                        {
                            <ul class="sub">
                                <li>@Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "nav-link js-scroll-trigger" })</li>
                            </ul>
                        }
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-comments-o"></i>
                            <span>Ticket Comments</span>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <ul class="sub">
                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Create", "Create", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("AllTicketComments", "Index", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("MyTicketComments", "MyTicketComments", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("TicketCommentsICreated", "CreatedTicketComments", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                            }
                            @if (User.IsInRole("ProjectManager"))
                            {
                                <li>@Html.ActionLink("Create", "Create", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("AllTicketComments", "Index", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("MyTicketComments", "MyTicketComments", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("TicketCommentsICreated", "CreatedTicketComments", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                            }
                            @if (User.IsInRole("Developer"))
                            {
                                <li>@Html.ActionLink("Create", "Create", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("AllTicketComments", "Index", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("MyTicketComments", "MyTicketComments", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("TicketCommentsICreated", "CreatedTicketComments", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                            }
                            @if (User.IsInRole("Submitter"))
                            {
                                <li>@Html.ActionLink("Create", "Create", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("AllTicketComments", "Index", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("MyTicketComments", "MyTicketComments", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                <li>@Html.ActionLink("TicketCommentsICreated", "CreatedTicketComments", "TicketComments", null, new { @class = "nav-link js-scroll-trigger" })</li>
                            }
                        </ul>
                        }
                        else
                        {
                            <ul class="sub">
                                <li>
                                    @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "nav-link js-scroll-trigger" })
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>Admin Controls</span>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="sub">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("TicketAssignment", "TicketAssignment", "Admin", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                    <li>@Html.ActionLink("ProjectAssignment", "ProjectAssignment", "Admin", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                    <li>@Html.ActionLink("RoleAssignment", "RoleAssignment", "Admin", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                }
                                @if (User.IsInRole("ProjectManager"))
                                {
                                    <li>@Html.ActionLink("TicketAssignment", "TicketAssignment", "Admin", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                    <li>@Html.ActionLink("ProjectAssignment", "ProjectAssignment", "Admin", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                }
                                @if (User.IsInRole("Developer"))
                                {
                                    <li>@Html.ActionLink("TicketAssignment", "TicketAssignment", "Admin", null, new { @class = "nav-link js-scroll-trigger" })</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <ul class="sub">
                                <li>
                                    @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "nav-link js-scroll-trigger" })
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
            <!-- sidebar menu end-->
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>

        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                <p>
                    Conall Hayes
                    <br />
                    BugTracker Project
                    <br />
                </p>
                <div class="credits">
                    <!--
                      You are NOT allowed to delete the credit link to TemplateMag with free version.
                      You can delete the credit link only if you bought the pro version.
                      Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                      Licensing information: https://templatemag.com/license/
                    -->
                    Created with Dashio template by<a href="https://templatemag.com/"> TemplateMag</a>
                </div>
                <a href="index.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->



    <script src="~/lib/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.min.js">
    </script>
    <script class="include" type="text/javascript" src="~/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/lib/jquery.scrollTo.min.js">
    </script>
    <script src="~/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/lib/jquery.sparkline.js">
    </script>
    < !--common script for all pages-- >
    <script src="~/lib/common-scripts.js"></script>
    <script type="text/javascript" src="~/lib/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="~/lib/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="~/lib/sparkline-chart.js">
    </script>
    <script src="~/lib/zabuto_calendar.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var unique_id = $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: 'Welcome to Dashio!',
                // (string | mandatory) the text inside the notification
                text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Developed by <a href="http://alvarez.is" target="_blank" style="color:#4ECDC4">Alvarez.is</a>.',
                // (string | optional) the image to display on the left
                image: 'img/ui-sam.jpg',
                // (bool | optional) if you want it to fade out on its own or just sit there
                sticky: false,
                // (int | optional) the time you want it to be alive for before fading out
                time: 8000,
                // (string | optional) the class name you want to apply to that specific message
                class_name: 'my-sticky-class'
            });

            return false;
        });
    </script>


    <script>
        // format ALL tables by class selector
        $('.table').DataTable();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>




@*<script type="application/javascript">
                            $(document).ready(function() {
                              $("#date-popover").popover({
                        html: true,
                                trigger: "manual"
                              });
                              $("#date-popover").hide();
                              $("#date-popover").click(function(e) {
                                $(this).hide();
                        });

                              $("#my-calendar").zabuto_calendar({
                        action: function() {
                                return myDateFunction(this.id, false);
                            },
                                action_nav: function() {
                                return myNavFunction(this.id);
                            },
                                ajax:
                            {
                            url: "show_data.php?action=1",
                                  modal: true
                                },
                                legend: [{
                            type: "text",
                                    label: "Special event",
                                    badge: "00"
                                  },
                                  {
                            type: "block",
                                    label: "Regular event",
                                  }
                                ]
                              });
    });

                            function myNavFunction(id)
    {
                              $("#date-popover").hide();
                        var nav = $("#" + id).data("navigation");
                        var to = $("#" + id).data("to");
                        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>*@

@*@{var userId = User.Identity.GetUserId();
    var userManager = new UserManager<ApplicationUser>(
    new UserStore<ApplicationUser>(new ApplicationDbContext()));}*@

@*@if ((userManager.IsInRole(userId, "ProjectManager")) ||
    (userManager.IsInRole(userId, "Submitter")) ||
    (userManager.IsInRole(userId, "Admin")) ||
    (userManager.IsInRole(userId, "Developer"))){*@






