@using CMPH_BugTracker.Helpers
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CMPH_BugTracker.Models;
@using CMPH_BugTracker.Extensions
@model IEnumerable<CMPH_BugTracker.Models.Project>

@{
    ViewBag.Title = "MyAssignedProjects";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3><i class="fa fa-angle-right"></i>My Assigned Projects</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a>Title</a>
                        </th>
                        <th>
                            <a>Body</a>
                        </th>
                        <th>
                            <a>Created</a>
                        </th>
                        <th>
                            <a>Updated</a>
                        </th>
                        <th>
                            <a>Owner</a>
                        </th>
                        <th>
                            <a>Assigned Users</a>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.Where(p => p.AssignedUserId == (User.Identity.GetUserId())))
                            {
                                <tr >
                                    <td >
                                        @Html.Raw(project.Title)
                                    </td >
                                    <td >
                                        @Html.Raw(project.Body)
                                    </td >
                                    <td >
                                        @Html.DisplayFor(modelItem => project.Created)
                                    </td >
                                    <td >
                                        @Html.DisplayFor(modelItem => project.Updated)
                                    </td >
                                    <td >
                                        @ProjectsHelper.GetProjectOwner(project.Id)
                                    </td >
                                    <td >
                                @*@ProjectsHelper.ListUsersOnProject(project.Id)*@
                    </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { Id = project.Id }, new { @class = "btn btn-theme" })
                </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


