@using CMPH_BugTracker.Helpers
@model IEnumerable<CMPH_BugTracker.Models.Ticket>
@{
    ViewBag.Title = "MyTickets";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3><i class="fa fa-angle-right"></i>My Tickets</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Body)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Updated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketPriority)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().OwnerUserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AssignedUserId)
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var ticket in Model)
                {
                <tr>
                    <td>
                        @Html.Raw(ticket.Title)
                    </td>
                    <td>
                        @Html.Raw(ticket.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ticket.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ticket.Updated)
                    </td>
                    <td>
                        @TicketsHelper.GetTicketStatus(ticket.Id)
                    </td>
                    <td>
                        @TicketsHelper.GetTicketPriority(ticket.Id)
                    </td>
                    <td>
                        @TicketsHelper.GetTicketType(ticket.Id)
                    </td>
                    <td>
                        @TicketsHelper.GetTicketOwner(ticket.Id)
                    </td>
                    <td>
                        @*@TicketsHelper.ListUsersOnTicket(ticket.Id)*@
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Projects", new { Id = ticket.Id })
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", "Projects", new { Id = ticket.Id }) @:|
                            @Html.ActionLink("Delete", "Delete", "Projects", new { Id = ticket.Id })
                        }
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>



