@using CMPH_BugTracker.Helpers
@model IEnumerable<CMPH_BugTracker.Models.Ticket>
@{
    ViewBag.Title = "MyAssignedTickets";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3><i class="fa fa-angle-right"></i>My Assigned Tickets</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <div class="row"><br /></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Title</p>
                        </th>
                        <th>
                            <p>Body</p>
                        </th>
                        <th>
                            <p>Created</p>
                        </th>
                        <th>
                            <p>Updated</p>
                        </th>
                        <th>
                            <p>Status</p>
                        </th>
                        <th>
                            <p>Priority</p>
                        </th>
                        <th>
                            <p>Type</p>
                        </th>
                        <th>
                            <p>Owner</p>
                        </th>
                        <th>
                            <p>Assigned Users</p>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model)
                    {
                        <tr>
                            <td>
                                @Html.Raw(ticket.Title)
                            </td>
                            <td>
                                @Html.Raw(ticket.Body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticket.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticket.Updated)
                            </td>
                            <td>
                                @TicketsHelper.GetTicketStatus(ticket.Id)
                            </td>
                            <td>
                                @TicketsHelper.GetTicketPriority(ticket.Id)
                            </td>
                            <td>
                                @TicketsHelper.GetTicketType(ticket.Id)
                            </td>
                            <td>
                                @TicketsHelper.GetTicketOwner(ticket.Id)
                            </td>
                            <td>
                                @*@TicketsHelper.ListUsersOnTicket(ticket.Id)*@
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Projects", new { Id = ticket.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


