@using CMPH_BugTracker.Helpers
@model CMPH_BugTracker.Models.Ticket

<div class="col-lg-6">
    <div class="form-panel">
        <h4><i class="fa fa-angle-right"></i>Ticket History<span class="badge bg-important">@Model.TicketHistories.Count</span></h4>
        <div class="row-lg-6">
            @foreach (var ticketHistory in Model.TicketHistories)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <a>Time Changed</a>
                            </td>
                            <td>
                                <a>Editor</a>
                            </td>
                            <td>
                                <a>Old Value</a>
                            </td>
                            <td>
                                <a>New Value</a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @ticketHistory.Changed
                            </td>
                            <td>
                                @TicketsHelper.GetTicketEditor(ticketHistory.UserId)
                            </td>
                            <td>
                                @ticketHistory.OldValue
                            </td>
                            <td>
                                @ticketHistory.NewValue
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
            }
        </div>
    </div>
</div>
