
@{
    ViewBag.Title = "TicketAssignment";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div class="row">
                <h2>Role Assignment</h2>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-6">
                @Html.Label("SelectUser")
            </div>
            <div class="col-md-6">
                @Html.Label("SelectTicket")
            </div>
        </div>

        @Html.BeginForm()
        {
        @Html.AntiForgeryToken()
        <div class=" row">
            <div class="col-md-6">
                @Html.DropDownList("Users", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("Tickets", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class=" row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Save<</button>
            </div>
        </div>
    </div>
</div>
