@using CMPH_BugTracker.Helpers
@model IEnumerable<CMPH_BugTracker.Models.Project>

@{
    ViewBag.Title = "MyCreatedProjects";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3><i class="fa fa-angle-right"></i>MyCreatedProjects</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a>Title</a>
                        </th>
                        <th>
                            <a>Body</a>
                        </th>
                        <th>
                            <a>Created</a>
                        </th>
                        <th>
                            <a>Updated</a>
                        </th>
                        <th>
                            <a>Owner User</a>
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                @foreach (var project in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => project.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => project.Body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => project.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => project.Updated)
                            </td>
                            <td>
                                @ProjectsHelper.GetProjectOwner(project.Id)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = project.Id }, new { @class = "btn btn-theme" })
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
