@using CMPH_BugTracker.Helpers
@model CMPH_BugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}
<div class="row mt">
    <div class="col-lg-8">
        <h4><i class="fa fa-angle-right"></i>Project Details</h4>
        <div class="form-panel">
            <h4>Project</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Body)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Body)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Updated)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Updated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerUserId)
                </dt>
                <dd>
                    @ProjectsHelper.GetProjectOwner(Model.Id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AssignedUserId)
                </dt>
                <dd>
                    @*@ProjectsHelper.ListUsersOnProject(Model.Id)*@
                </dd>

                <dt>
                </dt>

                <dd>
                    @if (User.IsInRole("Admin,ProjectManager"))
                    {
                        @Html.ActionLink("EditProject", "Edit", new { id = Model.Id }) @:|
                        @Html.ActionLink("DeleteProject", "Delete", new { id = Model.Id })
                    }
                </dd>
            </dl>
        </div>
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i>Project Tickets</h4>
            <div class="row">
                <i>@Model.Tickets.Count</i>
                @foreach (var ticket in ProjectsHelper.TicketsOnProject(Model.Id))
                {
                    <table class="table">
                        <tr>
                            <td>
                                @TicketsHelper.GetTicketOwner(ticket.Id)
                            </td>
                            <td>
                                @*@TicketsHelper.ListUsersOnTicket(ticket.Id)*@
                            </td>
                            <td>
                                @ticket.Created
                            </td>
                            <td>
                                @ticket.Updated
                            </td>
                            <td>
                                @ticket.Title
                            </td>
                            <td>
                                @ticket.Body
                            </td>
                            <td>
                                @ticket.ProjectId
                            </td>
                            <td>
                                @TicketsHelper.GetTicketPriority(ticket.Id)
                            </td>
                            <td>
                                @TicketsHelper.GetTicketStatus(ticket.Id)
                            </td>
                            <td>
                                @TicketsHelper.GetTicketType(ticket.Id)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin,ProjectManager,Developer,Submitter"))
                                {
                                    <div class="boxed-col-md-2">
                                        @Html.ActionLink(" Edit ", "Edit", "Ticket", new { ticket.Id, id = Model.Id }, null) |
                                        @Html.ActionLink(" Delete ", "Delete", "Ticket", new { ticket.Id, id = Model.Id }, null) |
                                        @Html.ActionLink(" Details ", "Details", "Ticket", new { ticket.Id, id = Model.Id }, null)
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                    <hr />
                }
            </div>
        </div>
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i>Create Ticket</h4>
            <div class="row">
                @if (User.IsInRole("Admin"))
                {
                    using (Html.BeginForm("Create", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ProjectId", Model.Id)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            @Html.Label("TicketTitle", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("TicketTitle", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("TicketBody", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("TicketBody", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("TicketStatusId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownList("TicketStatusId", null, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("TicketPriorityId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownList("TicketPriorityId", null, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("TicketTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownList("TicketTypeId", null, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div>
            <p>
                @Html.ActionLink("All Projects", "Index")
            </p>
            <p>
                @Html.ActionLink("MyProjects", "MyProjects")
            </p>
            @if (User.IsInRole("Admin,ProjectManager"))
            {
                <p>
                    @Html.ActionLink("Projects I Created", "CreatedProjects")
                </p>
                <p>
                    @Html.ActionLink("Assign Users to Project", "ProjectAssignment", "Admin")
                </p>
            }
        </div>
    </div>
</div>