@model IEnumerable<CMPH_BugTracker.Models.Project>
@using CMPH_BugTracker.Helpers
@{
    ViewBag.Title = "MyAssignedProjects";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3><i class="fa fa-angle-right"></i>My Assigned Projects</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Body)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Updated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().OwnerUserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().AssignedUserId)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model)
                    {
                        <tr>
                            <td>
                                @Html.Raw(project.Title)
                            </td>
                            <td>
                                @Html.Raw(project.Body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => project.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => project.Updated)
                            </td>
                            <td>
                                @ProjectsHelper.GetProjectOwner(project.Id)
                            </td>
                            <td>
                                @*@ProjectsHelper.ListUsersOnProject(project.Id)*@
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { Id = project.Id }, new { @class = "btn btn-theme" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    </div>
</div>


