@using CMPH_BugTracker.Helpers
@model IEnumerable<CMPH_BugTracker.Models.Ticket>

@{
    ViewBag.Title = "MyCreatedTickets";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3><i class="fa fa-angle-right"></i>My Created Tickets</h3>
<div class="row mt">
    <div class="col-lg-12">
            <div class="form-panel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Body)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            <td>
                                @Html.DisplayNameFor(model => model.TicketStatus)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.TicketType)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.TicketPriority)
                            </td>
                            <td>
                                <a>UserOwner</a>
                            </td>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var ticket in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.Body)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.Updated)
                                </td>
                                <td>
                                    @TicketsHelper.GetTicketStatus(ticket.Id)
                                </td>
                                <td>
                                    @TicketsHelper.GetTicketType(ticket.Id)
                                </td>
                                <td>
                                    @TicketsHelper.GetTicketPriority(ticket.Id)
                                </td>
                                <td>
                                    @TicketsHelper.GetTicketOwner(ticket.Id)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = ticket.Id }, new { @class = "btn btn-theme" })
                                </td>
                            </tr>
                        </tbody>
                    }
                    </table>
            </div>
    </div>
</div>
