@using CMPH_BugTracker.Helpers
@model CMPH_BugTracker.Models.Ticket
@{
    ViewBag.Title = "Details";
}
<div class="row mt">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4><i class="fa fa-angle-right"></i>Ticket Details</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Body)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Body)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Updated)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Updated)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TicketStatus)
                    </dt>
                    <dd>
                        @TicketsHelper.GetTicketStatus(Model.Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TicketPriority)
                    </dt>
                    <dd>
                        @TicketsHelper.GetTicketPriority(Model.Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TicketType)
                    </dt>
                    <dd>
                        @TicketsHelper.GetTicketType(Model.Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OwnerUserId)
                    </dt>
                    <dd>
                        @TicketsHelper.GetTicketOwner(Model.Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AssignedUserId)
                    </dt>
                    <dd>
                        @*@TicketsHelper.ListUsersOnTicket(Model.Id)*@
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProjectId)
                    </dd>

                    <dt>

                    </dt>

                    <dd>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("EditTicket", "Edit", new { id = Model.Id }, new { @class = "btn btn-theme" }) @:|
                            @Html.ActionLink("DeleteTicket", "Delete", new { id = Model.Id }, new { @class = "btn btn-theme" })
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-panel">
                <h4><i class="fa fa-angle-right"></i>Ticket Comments<span class="badge bg-success">@Model.TicketComments.Count</span></h4>
                <div class="row-lg-6">

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a>Title</a>
                                </td>
                                <td>
                                    <a>Body</a>
                                </td>
                                <td>
                                    <a>Owner</a>
                                </td>
                                <td>
                                    <a>Created</a>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                        @foreach (var ticketComment in TicketsHelper.TicketCommentsOnTicket(Model.Id))
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @ticketComment.Title
                                    </td>
                                    <td>
                                        @ticketComment.Body
                                    </td>
                                    <td>
                                        @TicketCommentsHelper.GetTicketCommentOwner(ticketComment.Id)
                                    </td>
                                    <td>
                                        @ticketComment.Created
                                    </td>
                                    <td>
                                        @Html.ActionLink(" Details ", "Details", "TicketComments", new { ticketComment.Id }, new { @class = "btn btn-theme" })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <h4><i class="fa fa-angle-right"></i>Create Ticket Comment</h4>
                <div class="row">
                    @if (User.IsInRole("Admin"))
                    {
                        using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Id)

                            <div class="form-group">
                                @Html.Label("Title", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextArea("TicketCommentTitle", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Body", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextArea("TicketCommentBody", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-round btn-success" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-panel">
                <h4><i class="fa fa-angle-right"></i>Ticket Attachments<span class="badge bg-primary">@Model.TicketAttachments.Count</span></h4>
                <div class="row-lg-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>
                                    <a>Title</a>
                                </td>
                                <td>
                                    <a>Owner User</a>
                                </td>
                                <td>
                                    <a>Created</a>
                                </td>
                                <td>

                                </td>
                            </tr>
                        </thead>
                        @foreach (var ticketAttachment in Model.TicketAttachments)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="@Url.Content(ticketAttachment.FilePath)" target="_blank">@ticketAttachment.Title</a>
                                    </td>
                                    <td>
                                        @TicketAttachmentsHelper.GetTicketAttachmentOwner(ticketAttachment.Id)
                                    </td>
                                    <td>
                                        @ticketAttachment.Created
                                    </td>
                                    <td>
                                        @Html.ActionLink(" Details ", "Details", "TicketAttachments", new { ticketAttachment.Id }, new { @class = "btn btn-theme" })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>

                </div>
                <h4><i class="fa fa-angle-right"></i>Create Ticket Attachment</h4>
                <div class="row">
                    @if (User.IsInRole("Admin"))
                    {
                        using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Id)
                            <div class="form-group">
                                @Html.Label("Title", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextArea("TicketAttachmentTitle", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TicketAttachments, htmlAttributes: new { @class = "control-label col-md-6" })
                                <input name="file" type="file" class="form-control-6" id="fileUpload" />
                                @Html.ValidationMessageFor(model => model.TicketAttachments, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-round btn-success" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        @Html.Partial("TicketHistoryPartial", Model)

    </div>
</div>

<style>
</style>