@model CMPH_BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

        <h3><i class="fa fa-angle-right"></i>Create Ticket</h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <div>
                        <h4>Ticket</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Title)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Body)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Body)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Updated)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Updated)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        @Html.Raw(Model.Body)
                        <br />
                    </div>
                </div>
                <div class="row">
                    @foreach (var ticketComment in Model.TicketComments)
                    {
                        <div class="panel panel-default container">
                            <div class="panel-heading row">
                                <div class="col-md-10">
                                </div>
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                {
                                    <div class="boxed-col-md-2">
                                        @Html.ActionLink(" Edit ", "Edit", "Ticket", new { ticketComment.Id, Model.Id }, null)
                                        @Html.ActionLink(" Delete ", "Delete", "Ticket", new { ticketComment.Id, Model.Id }, null)
                                        @Html.ActionLink(" Details ", "Details", "Ticket", new { ticketComment.Id, Model.Id }, null)
                                    </div>
                                }
                            </div>
                            <div class="panel-body row">@ticketComment.Body</div>
                            <div class="panel-footer row">Posted: @ticketComment.Created.ToString("f")</div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        </article>
        <hr>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>


    </section>
</section>
