@model CMPH_BugTracker.Models.Ticket
@{
    ViewBag.Title = "Details";
}
<div class="row mt">
    <div class="col-lg-8">
        <h4><i class="fa fa-angle-right"></i>Ticket Details</h4>
        <div class="form-panel">
            <h4>Ticket</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Body)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Body)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Updated)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Updated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TicketStatus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TicketPriority)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TicketType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerUserId)
                </dt>
                @*@foreach (var user in Model){}*@
                <dd>
                    @Html.DisplayFor(model => model.OwnerUserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AssignedUserId)
                </dt>
                @*@foreach (var user in Model){}*@
                <dd>
                    @Html.DisplayFor(model => model.AssignedUserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProjectId)
                </dt>
                @*@foreach (var user in Model){}*@
                <dd>
                    @Html.DisplayFor(model => model.ProjectId)
                </dd>

                <dt>

                </dt>

                <dd>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("EditTicket", "Edit", new { id = Model.Id })
                        @Html.ActionLink("DeleteTicket", "Delete", new { id = Model.Id })
                    }
                </dd>
            </dl>
        </div>
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i>Ticket Comments</h4>
            <div class="row">
                @foreach (var ticketComment in Model.TicketComments.OrderByDescending(c => c.Created))
                {
                    <table class="table">
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ticketComment.OwnerUserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticketComment.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticketComment.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticketComment.Body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticketComment.TicketId)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin,ProjectManager,Developer,Submitter"))
                                {
                                    <div class="boxed-col-md-2">
                                        @Html.ActionLink(" Edit ", "Edit", "Ticket", new { ticketComment.Id, id = Model.Id }, null)
                                        @Html.ActionLink(" Delete ", "Delete", "Ticket", new { ticketComment.Id, id = Model.Id }, null)
                                        @Html.ActionLink(" Details ", "Details", "Ticket", new { ticketComment.Id, id = Model.Id }, null)
                                        @Html.ActionLink(" Create ", "Details", "Ticket", new { ticketComment.Id, id = Model.Id }, null)

                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                    <hr />
                }
            </div>
        </div>
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i>Create Ticket Comments</h4>
            <div class="row">
                @if (User.IsInRole("Admin"))
                {
                    using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("TicketId", Model.Id)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            @Html.Label("TicketCommentTitle", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("TicketCommentTitle", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("TicketCommentBody", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("TicketCommentBody", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i>Ticket Comments</h4>
            <div class="row">
                @foreach (var ticketAttachment in Model.TicketAttachments.OrderByDescending(c => c.Created))
                {
                    <table class="table">
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ticketAttachment.OwnerUserId)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin,ProjectManager,Developer,Submitter"))
                                {
                                    <div class="boxed-col-md-2">
                                        @Html.ActionLink(" Edit ", "Edit", "Ticket", new { ticketAttachment.Id, id = Model.Id }, null)
                                        @Html.ActionLink(" Delete ", "Delete", "Ticket", new { ticketAttachment.Id, id = Model.Id }, null)
                                        @Html.ActionLink(" Details ", "Details", "Ticket", new { ticketAttachment.Id, id = Model.Id }, null)
                                        @Html.ActionLink(" Create ", "Details", "Ticket", new { ticketAttachment.Id, id = Model.Id }, null)

                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                    <hr />
                }
            </div>
        </div>
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i>Create Ticket Attachments</h4>
            <div class="row">
                @if (User.IsInRole("Admin"))
                {
                    using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("TicketId", Model.Id)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            @Html.Label("TicketAttachmentTitle", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("TicketAttachmentTitle", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TicketAttachments, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input name="image" type="file" class="form-control" id="fileUpload" />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TicketAttachments, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TicketAttachments, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div>
            <p>
                @Html.ActionLink("All Projects", "Index")
            </p>
            <p>
                @Html.ActionLink("MyProjects", "MyProjects")
            </p>
            @if (User.IsInRole("Admin,ProjectManager"))
            {
                <p>
                    @Html.ActionLink("Projects I Created", "CreatedProjects")
                </p>
                <p>
                    @Html.ActionLink("Assign Users to Project", "ProjectAssignment", "Admin")
                </p>
            }
        </div>
    </div>
</div>