@model CMPH_BugTracker.Models.TicketNotification

@{
    ViewBag.Title = "Details";
}
@using CMPH_BugTracker.Helpers
@model CMPH_BugTracker.Models.Ticket
@{
    ViewBag.Title = "Details";
}
<div class="row mt">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4><i class="fa fa-angle-right"></i>TicketNotification Details</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dd>
                        @Html.DisplayFor(model => model.Subject)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Body)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                    <dd>
                        @Html.DisplayFor(model => model.Read)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.SenderId)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.TicketId)
                    </dd>
                    <dd>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("DeleteTicketNotification", "Delete", new { id = Model.Id }, new { @class = "btn btn-theme" })
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
