@using CMPH_BugTracker.Helpers
@model CMPH_BugTracker.Models.TicketAttachment
@{
    ViewBag.Title = "Details";
}
<h3><i class="fa fa-angle-right"></i>Ticket Attachment Details</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <div>
                <h4>Ticket Comment</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MediaURL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MediaURL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Updated)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Updated)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OwnerUserId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OwnerUserId)
                    </dd>
                </dl>
            </div>
            <p>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("EditProject", "Edit", new { id = Model.Id }, new { @class = "btn btn-theme" })
                    @Html.ActionLink("DeleteProject", "Delete", new { id = Model.Id }, new { @class = "btn btn-theme" })
                }
                @if (User.IsInRole("ProjectManager"))
                {
                    @Html.ActionLink("EditProject", "Edit", new { id = Model.Id }, new { @class = "btn btn-theme" })
                    @Html.ActionLink("DeleteProject", "Delete", new { id = Model.Id }, new { @class = "btn btn-theme" })
                }
            </p>
        </div>
    </div>
</div>

      