@model CMPH_BugTracker.Models.ApplicationUser
@using CMPH_BugTracker.Extensions
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CMPH_BugTracker.Helpers;
@using System.Web.Configuration;

@{
    ViewBag.Title = "Starting Page";
}

<div class="row">
    <div class="col-lg-12 main-chart">
        <div class="border-head">
            <h3>Log In With A Demo User</h3>
        </div>
        <div class="row">
            <div class="col-md-3 mb">
                <div class="col-lg-8">
                    <h4><i class="fa fa-id-card-o">Admin Accessibility</i></h4>
                    <hr />
                    <p><i class="fa fa-gear">Assign Roles, Projects, Tickets to each user</i></p>
                    <p><i class="fa fa-gear">Create Projects, Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <p><i class="fa fa-gear">Edit Projects, Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <p><i class="fa fa-gear">Delete Projects, Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <hr />
                </div>
            </div>
            <div class="col-md-3 mb">
                <div class="col-lg-8">
                    <h4><i class="fa fa-id-card-o">Project Manager Accessibility</i></h4>
                    <hr />
                    <p><i class="fa fa-gear">Assign Projects, Tickets to each user</i></p>
                    <p><i class="fa fa-gear">Create Projects, Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <p><i class="fa fa-gear">Edit Projects, Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <p><i class="fa fa-gear">Delete Projects, Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <hr />

                </div>
            </div>
            <div class="col-md-3 mb">
                <div class="col-lg-8">
                    <h4><i class="fa fa-id-card-o">Developer Accessibility</i></h4>
                    <hr />
                    <p><i class="fa fa-gear">Create Ticket Comments, and Ticket Attachments</i></p>
                    <p><i class="fa fa-gear">Edit Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <p><i class="fa fa-gear">Delete Ticket Comments and Ticket Attachments</i></p>
                    <hr />

                </div>
            </div>
            <div class="col-md-3 mb">
                <div class="col-lg-8">
                    <h4><i class="fa fa-id-card-o">Submitter Accessibility</i></h4>
                    <hr />
                    <p><i class="fa fa-gear">Create Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <p><i class="fa fa-gear">Edit Tickets, Ticket Comments, and Ticket Attachments</i></p>
                    <p><i class="fa fa-gear">Delete Ticket Comments and Ticket Attachments</i></p>
                    <hr />

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb">
                @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                {
                    <div class="col-lg-8">
                        <h4><i class="fa fa-angle-right"></i>Login As Demo Administrator</h4>
                        <div class="form">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Role", "Admin", WebConfigurationManager.AppSettings["UserPassword"])
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Log in" class="btn btn-round btn-success"><i class="fa fa-lock"></i> SIGN IN</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3 mb">
                @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                {
                    <div class="col-lg-8">
                        <h4><i class="fa fa-angle-right"></i>Login As Demo Project Manager</h4>
                        <div class="form">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Role", "ProjectManager", WebConfigurationManager.AppSettings["UserPassword"])
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Log in" class="btn btn-round btn-success"><i class="fa fa-lock"></i> SIGN IN</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3 mb">
                @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                {
                    <div class="col-lg-8">
                        <h4><i class="fa fa-angle-right"></i>Login As Demo Developer</h4>
                        <div class="form">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Role", "Developer", WebConfigurationManager.AppSettings["UserPassword"])
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Log in" class="btn btn-round btn-success"><i class="fa fa-lock"></i> SIGN IN</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3 mb">
                @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                {
                    <div class="col-lg-8">
                        <h4><i class="fa fa-angle-right"></i>Login As Demo Submitter</h4>
                        <div class="form">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Role", "Submitter", WebConfigurationManager.AppSettings["UserPassword"])
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Log in" class="btn btn-round btn-success"><i class="fa fa-lock"></i> SIGN IN</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
