@model CMPH_BugTracker.Models.ApplicationUser
@using CMPH_BugTracker.Extensions
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CMPH_BugTracker.Helpers;
@using System.Web.Configuration;

@{
    ViewBag.Title = "Starting Page";
}

<div class="row">
    <div class="col-lg-12 main-chart">
        <div class="border-head">
            <h3>Log In With A Demo User</h3>
        </div>
        <div class="row">
            <div class="col-md-3 mb">
                <div class="col-lg-8">
                    <h4><i class="fa fa-angle-right"></i>Admin Accessability</h4>
                    <p>Assign Roles, Projects, Tickets to each user</p>
                    <p>Create Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p>Edit Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p>Delete Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 mb">
                <div class="col-lg-8">
                    <h4><i class="fa fa-angle-right"></i>Project Manager Accessability</h4>
                    <p>Assign Roles, Projects, Tickets to each user</p>
                    <p>Create Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p>Edit Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p>Delete Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 mb">
                <div class="col-lg-8">
                    <h4><i class="fa fa-angle-right"></i>Developer Accessability</h4>
                    <p>Assign Roles, Projects, Tickets to each user</p>
                    <p>Create Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p>Edit Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p>Delete Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 mb">
                <div class="col-lg-8">
                    <h4><i class="fa fa-angle-right"></i>Submitter Accessability</h4>
                    <p>Assign Roles, Projects, Tickets to each user</p>
                    <p>Create Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p>Edit Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p>Delete Projects, Tickets, Ticket Comments, and Ticket Attachments</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb">
                @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                {
                    <div class="col-lg-8">
                        <h4><i class="fa fa-angle-right"></i>Login As Demo Administrator</h4>
                        <div class="form">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Password", WebConfigurationManager.AppSettings["UserPassword"])
                            @Html.Hidden("Email", WebConfigurationManager.AppSettings["AdminEmail"])
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Log in" class="btn btn-round btn-success"><i class="fa fa-lock"></i> SIGN IN</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3 mb">
                @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                {
                    <div class="col-lg-8">
                        <h4><i class="fa fa-angle-right"></i>Login As Demo Project Manager</h4>
                        <div class="form">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Password", WebConfigurationManager.AppSettings["UserPassword"])
                            @Html.Hidden("Email", WebConfigurationManager.AppSettings["ProjectManagerEmail"])
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Log in" class="btn btn-round btn-success"><i class="fa fa-lock"></i> SIGN IN</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3 mb">
                @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                {
                    <div class="col-lg-8">
                        <h4><i class="fa fa-angle-right"></i>Login As Demo Developer</h4>
                        <div class="form">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Password", WebConfigurationManager.AppSettings["UserPassword"])
                            @Html.Hidden("Email", WebConfigurationManager.AppSettings["DeveloperEmail"])
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Log in" class="btn btn-round btn-success"><i class="fa fa-lock"></i> SIGN IN</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3 mb">
                @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                {
                    <div class="col-lg-8">
                        <h4><i class="fa fa-angle-right"></i>Login As Demo Submitter</h4>
                        <div class="form">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Password", WebConfigurationManager.AppSettings["UserPassword"])
                            @Html.Hidden("Email", WebConfigurationManager.AppSettings["SubmitterEmail"])
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Log in" class="btn btn-round btn-success"><i class="fa fa-lock"></i> SIGN IN</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
