@model IEnumerable<CMPH_BugTracker.Models.TicketComment>
@{
    ViewBag.Title = "Index";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3><i class="fa fa-angle-right"></i>All Ticket Comments</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Create New", "Create")
            }
            <div class="row"><br /></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Body)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().OwnerUserId)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticketComment in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ticketComment.Created)
                            </td>
                            <td>
                                @Html.Raw(ticketComment.Title)
                            </td>
                            <td>
                                @Html.Raw(ticketComment.Body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticketComment.OwnerUserId)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { Id = ticketComment.Id })

                                @if (User.IsInRole("Admin,ProjectManager,Developer,SUbmitter"))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { Id = ticketComment.Id })
                                    @Html.ActionLink("Delete", "Delete", new { Id = ticketComment.Id })
                                }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


