@model IEnumerable<CMPH_BugTracker.Models.TicketComment>
@using CMPH_BugTracker.Helpers;

@{
    ViewBag.Title = "Index";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3><i class="fa fa-angle-right"></i>All Ticket Comments</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <div class="row"><br /></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Body)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().OwnerUserId)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticketComment in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ticketComment.Created)
                            </td>
                            <td>
                                @Html.Raw(ticketComment.Title)
                            </td>
                            <td>
                                @Html.Raw(ticketComment.Body)
                            </td>
                            <td>
                                @TicketCommentsHelper.GetTicketCommentOwner(ticketComment.Id)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { Id = ticketComment.Id }, new { @class = "btn btn-theme" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


