@model CMPH_BugTracker.Models.ApplicationUser
@using CMPH_BugTracker.Extensions
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CMPH_BugTracker.Helpers;
@{
    ViewBag.Title = "ProfileView";
}
<h2>ProfileView</h2>
<div class="row mt">
    <div class="col-lg-12">
        <div class="row content-panel">
            <div class="col-md-4 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                    <h4>@User.Identity.GetFullName()</h4>
                </div>
            </div>
            <div class="col-md-4 profile-text">
                <h3></h3>
                <p></p>
                <br>
                <p><button class="btn btn-theme"><i class="fa fa-envelope"></i>View Notifications</button></p>
            </div>
            <div class="col-md-4 centered">
                <div class="profile-pic">
                    <p><img src="@UserHelper.GetProfileImagePath()" /> class="img-circle"></p>
                    <p>
                        <button class="btn btn-theme"><i class="fa fa-check"></i> Follow</button>
                        <button class="btn btn-theme02">Add</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 mt">
        <div class="row content-panel">
            <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                    <li>
                        <a class="nav-link js-scroll-trigger btn btn-theme02" href=@Url.Action("MyProjects", "Projects")>My Assigned Projects</a>
                    </li>
                    <li>
                        <a class="nav-link js-scroll-trigger btn btn-theme03" href=@Url.Action("MyTickets", "Tickets")>My Assigned Tickets</a>
                    </li>
                    <li>
                        <a class="nav-link js-scroll-trigger btn btn-theme02" href=@Url.Action("CreatedProjects", "Projects")>Projects I Created</a>
                    </li>
                    <li>
                        <a class="nav-link js-scroll-trigger btn btn-theme03" href=@Url.Action("CreatedTickets", "Tickets")>Tickets I Created</a>
                    </li>
                    <li>
                        <a class="nav-link js-scroll-trigger btn btn-theme02" href=@Url.Action("CreatedTicketComments", "TicketComments")>Ticket Comments I Created</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr/>
@*<div class="row mt">
    <div class="form-panel">
        <div class="tab-content">
            @Html.Partial("MyProjectsPartial", Model.Projects)
        </div>
    </div>
    <hr />
    <div class="form-panel">
        <div class="tab-content">
            @Html.Partial("MyTicketsPartial", Model.Tickets)
        </div>
    </div>
    <hr />
    <div class="form-panel">
        <div class="tab-content">
            @Html.Partial("CreatedProjectsPartial", Model.Projects)
        </div>
    </div>
    <hr />
    <div class="form-panel">
        <div class="tab-content">
            @Html.Partial("CreatedTicketsPartial", Model.Tickets)
        </div>
    </div>
    <hr />
    <div class="form-panel">
        <div class="tab-content">
            @Html.Partial("CreatedTicketCommentsPartial", Model.TicketComments)
        </div>
    </div>
    <hr />
</div>*@
